{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Yeni Gelir Ekle</h2>
<form method="POST" action="{{ url_for('main.gelir_ekle') }}">

    <div class="mb-3">
      <label for="aciklama" class="form-label">Açıklama</label>
      <input type="text" class="form-control" name="aciklama" required>
    </div>
    <div class="mb-3">
      <label for="tutar" class="form-label">Tutar (₺)</label>
      <input type="number" step="0.01" class="form-control" name="tutar" required>
    </div>
    <div class="mb-3">
      <label for="tarih" class="form-label">Tarih</label>
      <input type="date" class="form-control" name="tarih" required>
    </div>
    <div class="mb-3">
      <label for="gelir_kaynak" class="form-label">Gelir Kaynağı</label>
      <input type="text" class="form-control" name="gelir_kaynak">
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a href="{{ url_for('main.gelir_gider') }}" class="btn btn-secondary">İptal</a>
  </form>
</div>
{% endblock %}
